{% extends "base.html" %}
{% load static %}
{% block title %} About Deus Magnus{% endblock %}
{% block content %}
        


<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/m_v_s.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3>Message About Us</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->


<section class="section">
    <div class="container">
        <div class=" ">   
            <div class="row">
                <center><h3 style="color: #d4af37;">About Deus Magnus</h3></center><br>
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-12">
                            <video autoplay muted playsinline loop width="100%" height="70%"  controls>
                                <source src="{% static "videow.mp4" %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div><!-- end row -->
                        <hr class="invis">
                        <div class="row">
                    </div><!-- end row -->
                </div><!-- end col -->
                <div class="col-md-6">
                    <h6>Deus Magnus</h6>
                    <div class="shop-desc">   
                        <p>At Deus Magnus, we are committed to redefining excellence in Nigeria's construction and real estate industry. 
                            Since our inception in 2018, we have rapidly established ourselves as the premium integrated solutions provider, 
                            driven by a vision to become the leading service provider in Africa and globally. 
                            Our unwavering commitment to excellence and innovation sets us apart. We address the complex challenges 
                            facing high-net-worth property developers, investors, and owners by focusing on critical areas that often lead to project failures. 
                            This approach significantly reduces risks, delays, cost overruns, and premature deterioration. 
                            Our portfolio showcases our ability to turn complex requirements into elegant, functional 
                            realities that stand the test of time. From tackling infrastructure deficits to optimizing 
                            long-term asset performance, Deus Magnus is your trusted partner in navigating the complexities of the African real estate landscape. 
                            Choose Deus Magnus as your partners in progress, your allies in ambition. Together, 
                            we'll create structures that define the future of Nigeria's real estate landscape.<br><br>
                            
                            Mr. Kuteyi Rasaq<br>
                            CEO, Deus Magnus Limited
                        </p><br>
                    </div><!-- end desc -->
                </div><!-- end col -->
            </div><!-- end row -->
            <div class="btn-wrapper">
                <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"><i class="fa fa-arrow-left"> Back</i></a>
            </div>
        </div><!-- end boxed -->
    </div><!-- end container -->    
</section>


<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>Our History</h3>
                    <ul class="breadcrumb">
                        <li><a style="color: #d4af37;" href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">
            <div class="row blog-grid">
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>OUR VISION</center></h4>
                            <p>To emerge as the leading construction and real estate service provider in Africa and globally, 
                                accomplished through the delivery of internationally acclaimed structures.</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>OUR MISSION</center></h4>
                            <p>To revolutionize the Nigerian real estate landscape by delivering unparalleled 
                               quality through cutting-edge innovation, superior quality, and unwavering commitment to sustainability.</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>Our Approach</center></h4>
                            <p> At Deus Magnus, we address complex challenges facing high-net-worth 
                                property developers, investors, and owners. Our innovative approach 
                                significantly reduces risks, delays, and premature deterioration by 
                                focusing on five key areas.
                             </p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>





<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->


{% endblock %}
 
