{% extends "base.html" %}
{% load static %}
{% block title %} About Deus Magnus{% endblock %}
{% block content %}
        
<br><br><br>
<section class="section">
    <div class="container">
        <div class=" ">
            <div class="row">
                <center><h3>About Deus Magnus</h3></center><br>
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-12">
                            <video autoplay muted playsinline loop width="100%" height="70%"  controls>
                                <source src="{% static "videow.mp4" %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div><!-- end row -->
                        <hr class="invis">
                        <div class="row">
                    </div><!-- end row -->
                </div><!-- end col -->
                <div class="col-md-6">
                    <h6>Deus Magnus</h6>
                    <div class="shop-desc">   
                        <p>        
                            At Deus Magnus, we're dedicated to crafting exceptional construction projects that exceed expectations. With 10 years of industry experience, we specialize in delivering high-quality, innovative solutions tailored to our clients' needs. 
                            Our team of skilled professionals is committed to excellence, from the initial concept to the final completion of every project.
                            Driven by a passion for construction and a dedication to client satisfaction, we pride ourselves on our attention to detail, reliability, and integrity. Whether it's residential, commercial, or industrial,
                            we have the expertise to tackle projects of any scale with precision and efficiency.
                            We prioritize safety and sustainability in every aspect of our work, ensuring that our projects not only meet industry standards but also contribute positively to the environment and communities we serve.
                            At Deus Magnus we believe in building lasting relationships with our clients based on trust, transparency, and exceptional craftsmanship. Let us bring your vision to life.
                        </p
                        <div class="shop-meta"
                           
                        </div><!-- end shop meta -->
                    </div><!-- end desc -->
                </div><!-- end col -->
            </div><!-- end row -->
            <hr class="invis">
            <div class="row">   
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>


{% endblock %}
 
