{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.deus_magnus_title }} {% endblock %}
{% block content%}



<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>Dues & Magnus</h3>
                  
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed">
            <div class="row">
                <div class="col-md-8">
                    <div class="content blog-list">
                        <div class="blog-wrapper clearfix">
                            <div class="blog-meta">
                                <small><a href="#">Tips & Tricks</a></small>
                                <h3>How to Hire Icon Designer for Your Next Project</h3>
                                <ul class="list-inline">
                                    <li>6 hours ago</li>
                                    <li><span>written by</span> <a href="#">Edulogy Team</a></li>
                                </ul>
                            </div><!-- end blog-meta -->

                            <div class="blog-media">
                                <img src="upload/blog_01.jpg" alt="" class="img-responsive img-rounded">
                            </div><!-- end media -->

                            <div class="blog-desc-big">
                                <p class="lead">You can get andard license that come with every free icons..</p>
                                <p>Integer eu urna sit amet dolor fringilla vellen.</p>  
                            </div><!-- end desc -->
                        </div><!-- end blog -->
                    </div><!-- end content -->

                </div><!-- end col -->
                <div class="sidebar col-md-4">
                    <div class="widget clearfix">
                        <div class="banner-widget">
                            <img src="upload/banner.jpeg" alt="" class="img-responsive img-rounded">
                        </div>
                    </div>

                    <div class="widget clearfix">
                        <h3 class="widget-title">Popular Posts</h3>
                        <div class="post-widget">
                            <div class="media">
                                <img src="upload/blog_small_01.jpg" alt="" class="img-responsive alignleft img-rounded">
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="blog-single.html">Learning English Like a Pro..</a></h5>
                                    <div class="blog-meta">
                                        <ul class="list-inline">
                                            <li>4 days ago</li>
                                            <li><span>by</span> <a href="#">Edulogy Team</a></li>
                                        </ul>
                                    </div><!-- end blog-meta -->
                                </div>
                            </div>

                            <div class="media">
                                <img src="upload/blog_small_02.jpg" alt="" class="img-responsive alignleft img-rounded">
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="blog-single.html">How to create a beautiful website with Bootstrap</a></h5>
                                    <div class="blog-meta">
                                        <ul class="list-inline">
                                            <li>5 days ago</li>
                                            <li><span>by</span> <a href="#">Boby DOE</a></li>
                                        </ul>
                                    </div><!-- end blog-meta -->
                                </div>
                            </div>

                            <div class="media">
                                <img src="upload/blog_small_03.jpg" alt="" class="img-responsive alignleft img-rounded">
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="blog-single.html">Don't forget to update your Google web master tools</a></h5>
                                    <div class="blog-meta">
                                        <ul class="list-inline">
                                            <li>6 days ago</li>
                                            <li><span>by</span> <a href="#">Martin</a></li>
                                        </ul>
                                    </div><!-- end blog-meta -->
                                </div>
                            </div>
                        </div><!-- end post-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>

{% endblock %}