{% extends "base.html" %}
{% load static %}
{% block title %}Deusmagnus Events {% endblock %}
{% block content%}

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/deusm.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3>News, Events & Insights</h3>
                    <a href="{% url 'contact' %}" class="btn btn-primary"style="border-radius: 5px;">Get in Touch</a>
                </div>
            </div><!-- end col --> 
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section"style="margin: 20px;padding: 20px;">
    <div class="container">
        <div class="section-title text-center">
            <div class="containerr">
                <h4 style="color: #98681e;font-family: Georgia;">Deus Magnus at the Big 5 Construct Nigeria 2024: Leading the<br>Conversation on Innovation and Sustainable Development</h4>
                
                <h5 style="color: #98681e;font-family: Georgia;">Introduction</h5>
                <p>
                    The 4th edition of the Big 5 Construct Nigeria was held at the Landmark Centre in Lagos from September 24-26, 2024. As Nigeria’s largest construction industry event, the exhibition brought together over 9,000 professionals and 150 exhibitors from more than 20 countries, showcasing cutting-edge technologies and products that are set to reshape Nigeria’s $128 billion construction sector. This year’s event focused on key themes such as innovation, sustainability, and technology, creating the perfect environment for Deus Magnus to highlight its commitment to excellence and forward-thinking solutions in construction and real estate development.
                </p>
                
                <h5 style="color: #98681e;font-family: Georgia;">Our Presence at the Event</h5>
                <p>
                    Deus Magnus’s participation in the event was marked by active engagement in several of the 25 CPD-certified Big 5 Talks, where industry experts and thought leaders discussed emerging trends and opportunities in Nigeria’s construction industry. Our team took this opportunity to connect with other professionals, learn about groundbreaking innovations, and explore partnerships that align with our strategic goals of sustainable development and premium service delivery. Key highlights included discussions on the adoption of Building Information Modeling (BIM), the impact of smart home technologies, and the role of sustainable building practices in shaping the future of the Nigerian construction landscape. Through these conversations, we were able to reinforce our position as a key player in driving the integration of these technologies and practices into the local industry.
                </p>
                
                <h5 style="color: #98681e;font-family: Georgia;">Showcasing Our Commitment to Innovation</h5>
                <p>
                    At Deus Magnus, we believe that innovation is at the core of delivering exceptional projects. The Big 5 Construct Nigeria provided a platform to demonstrate how our approach to construction and facility management is aligned with global best practices. Our team shared insights on the latest sustainable construction methods and innovative materials that are redefining the luxury real estate market in Nigeria. Our presence at the event not only positioned Deus Magnus as a forward-thinking leader but also highlighted our ability to deliver solutions that meet the evolving needs of our high-net-worth clients and stakeholders.
                </p>
                
                <h5 style="color: #98681e;font-family: Georgia;">Future Outlook</h5>
                <p>
                    The Big 5 Construct Nigeria 2024 marked a significant milestone in Nigeria’s construction industry, with the government’s infrastructure development strategies set to boost growth at a CAGR of 2.4% between 2024 and 2028. With increased public and private investment in the housing sector, Deus Magnus is well-placed to capitalize on these opportunities, leveraging our expertise in real estate development, construction services, and facility management. Moving forward, we remain committed to participating in similar industry events that allow us to stay ahead of the curve, forge valuable partnerships, and deliver excellence in every project we undertake.
                </p>
                
                <h5 style="color: #98681e;font-family: Georgia;">Key Takeaways:</h5>
                    <li>The event attracted leading global companies such as Bosch, Schneider Electric, and Swiss Krono, who etc <br>
                        shared innovative solutions across the construction value chain.</li>
                    <li>Four country pavilions from Austria, China, Egypt, and Türkiye showcased unique construction solutions, <br>highlighting the growing international interest in Nigeria’s construction market.</li>
                    <li>Key discussions centered around project financing,cost management, and the impact of technology on project<br> delivery.</li>
                
                <p>
                    By engaging in these conversations and showcasing our capabilities, Deus Magnus reaffirmed its commitment to delivering luxury construction solutions that not only meet but exceed industry standards. For more insights and to keep up with our activities, visit our News and Events section.
                </p>
            </div>
            
            <h4 style="color: #98681e;font-family: Georgia;">Read the latest news and update from Deusmagnus and the construction industry</h4>
        </div><!-- end title -->
        
        <div class="row text-center">
            {% for post in object_list %}
            <div class="col-md-4 col-sm-6">
                <div class="teammembers">
                    <div class="entry">
                        <a href="{% url 'events_article_detail' post.pk %}">
                            <img src="{{ post.deus_magnus_event_img.url }}"height="240px" alt="" >
                        </a>
                    </div><!-- end box -->
                    <div class="teamdesc">
                        <a href="{% url 'events_article_detail' post.pk %}">
                        <h4 style="color: #98681e;font-family: Georgia;">{{ post.deus_magnus_event_title}}</h4>
                        </a>
                        <hr>
                        <h5>{{ post.deus_magnus_event_description|truncatechars:60 }}</h5>
                        <div class="btn-wrapper">
                            <a href="{% url 'events_article_detail' post.pk %}"class="btn btn-primary"style="border-radius: 10px;">Read More</a>
                        </div>
                    </div><!-- end teamdesc -->
                </div><!-- end teammembers --><br>
            </div><!-- end col -->
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->




{% endblock %}