{% extends "base.html" %}
{% load static %}
{% block title %} Facility Management  {% endblock %}
{% block content %}

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/m_v_s.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3> Facility Management</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
<section class="section">

<section class="section">
    <div class="container">
        <div class="row">
          <!-- This is for image -->
            <div class="col-md-8">  
                <div class="custom-module p40l">
                    <p style="color: #98681e;">Our premium facility management services ensure your property
                        maintains its value and prestige for years to come.</p><br>
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Building systems maintenance</li>
                                <li>Security services</li>
                                <li>Cleaning and janitorial services</li>
                                <li>Waste management</li>
                                <li>Landscaping and grounds maintenance</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->   
                    <hr class="invis">
                    <div class="btn-wrapper">
                        <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"><i class="fa fa-arrow-left"> Back Page</i></a>
                    </div>
                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><br><br>

{% endblock %}