{% extends "base.html" %}
{% load static %}
{% block title %}Founder Message{% endblock %}
{% block content%}

     <!--style.css-->
     <link rel="stylesheet" href="{% static 'csss/stylee.css' %}"> 
	
		<!--about start -->
		<section id="about" class="about">
			<div class="container">
				<div class="about-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-txt">
								<h3>
									Welcome To Deus Magnus Construction Company Limited
									For Over 20 Years, We Have Created Value Across Sectors, 
									Gaining Grounds And Contributing To National Development.
									We undertake Residential, commercial and industrial engineering construction 
									projects in different geopolitical zones of the country
								</h3>
								<p>
									Deus Magnus Limited, is an indigenous building and construction company. 
									Starting as a small 5-man organization carrying out minor renovation works, 
									we have grown to become a national force in the Nigerian construction 
									industry. We established the Lagos regional office in 2002, having successfully executed various projects in 
									the South-South and South- Eastern parts of the country prior to the expansion. 
									We undertake residential, commercial, and industrial engineering construction projects 
									in different geopolitical zones of the country.
									We currently have a staff strength of about 100, about half of which are 
									direct industry professionals. The company retains quality delivery and 
									clients’ satisfaction as its driving force, resulting in repeat clients. 
									For over 24 years we have created value across various sectors, gaining 
									grounds and contributing to national development
								</p>
							</div>
						</div>
						<div class="col-sm-offset-1 col-sm
							<div class="single-about-img">
								<img src="assets/images/about/profile_image.jpg" alt="profile_image">
								<div class="about-list-icon">
									
								</div><!-- /.about-list-icon -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/.about-->
		<!--about end -->


{% endblock %}