{% extends "base.html" %}
{% load static %}
{% block title %}Founder Message{% endblock %}
{% block content%}

     <!--style.css-->
     <link rel="stylesheet" href="{% static 'csss/stylee.css' %}"> 
	
		<!--about start -->
		<section id="about" class="about">
			<div class="container">
				<div class="about-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-txt">
								<h3>
									Redefining excellence in Nigeria's construction and real estate industry.
								</h3>
								<p><b>At Deus Magnus, we are committed to redefining excellence in Nigeria's construction and real estate industry. 
									Since our inception in 2018, we have rapidly established ourselves as the premium integrated solutions provider, 
									driven by a vision to become the leading service provider in Africa and globally. 
									Our unwavering commitment to excellence and innovation sets us apart. We address the complex challenges 
									facing high-net-worth property developers, investors, and owners by focusing on critical areas that often lead to project failures. 
									This approach significantly reduces risks, delays, cost overruns, and premature deterioration. 
									Our portfolio showcases our ability to turn complex requirements into elegant, functional 
									realities that stand the test of time. From tackling infrastructure deficits to optimizing 
									long-term asset performance, Deus Magnus is your trusted partner in navigating the complexities of the African real estate landscape. 
									Choose Deus Magnus as your partners in progress, your allies in ambition. Together, 
									we'll create structures that define the future of Nigeria's real estate landscape.<br><br>
									
									Mr. Kuteyi Rasaq</b><br>
									CEO, Deus Magnus Limited
									</p>
							</div>
						</div>
						<div class="col-sm-offset-1 col-sm-5">
							<div class="single-about-img">
								<img src="{% static 'images/Mr-Razak.jpg'%}" alt="profile_image">
								
									
								</div><!-- /.about-list-icon -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/.about-->
		<!--about end -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->

{% endblock %}