{% extends "base.html" %}
{% load static %}
{% block title %} Guides {% endblock %}
{% block content %}

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/m_v_s.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3>Guides</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section">
    <div class="container">
        <div class="row">
           
            <div class="col-md-8">  
                <div class="custom-module p40l">
                    <h3>Guides</h3>
                    <p>  </p><br>
                    <div class="row">
                        <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Investing in Nigerian Luxury Real Estate: A Complete Guide</li>
                                <li>5 Things to Consider When Choosing Your Dream Home in Nigeria</li>
                                <li>Cleaning and janitorial services</li>
                                <li>The Expatriate's Guide to Premium Living in Lagos</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->   
                    </div><!-- end row -->   
                    <hr class="invis">
                    <div class="btn-wrapper">
                        <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"> Back Page</a>
                    </div>
                </div><!-- end module -->
            </div><!-- end col --><br>
            <div class="col-md-4">
                <div class="custom-module">
                    <img src="{% static 'images/mitchell.jpg ' %}" alt="" class="img-responsive wow slideInLeft">
                </div><!-- end module -->
            </div><!-- end col --> 
        </div><!-- end row -->
    </div><!-- end container -->
</section><br><br>

{% endblock %}