
{% extends "base.html" %}
{% load static %}
{% block content%}


<video autoplay muted playsinline loop width="100%" height="500" controls id="myVideo">
    <source src="{% static 'main.mp4'%}" type="video/mp4">
    <source src="{% static 'main.mp4'%}" type="video/webm">
    Your browser does not support the video tag
</video>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="custom-module">
                    <img src="{% static 'images/device_01.png' %}" alt="" class="img-responsive wow slideInLeft">
                </div><!-- end module -->
            </div><!-- end col -->
            <div class="col-md-8">
                <div class="custom-module p40l">
                    <h2>We are a passionate <mark>construction company</mark> from<br>
                    Lagos. Build beautiful and affordable property <br>
                        & development</h2>
                    <p>affordable affordable affordable affordable.</p>
                    <hr class="invis">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Custom Shortcodes</li>
                                <li>Visual Page Builder</li>
                                
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->   

                    <hr class="invis">

                    <div class="btn-wrapper">
                        <a href="{% url 'about' %}" class="btn btn-primary" style="border-radius:5px;">Learn More About us</a>
                    </div>

                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>



        <!-- the first category of the home page after cate -->
<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>RELATED PROJECTS</h3>
            <p>With over 20 years of construction experience.</p>
        </div><!-- end title -->

        <div class="row">
            {% for post in object_list %}
            <div class="col-lg-4 col-md-12">
                <div class="blog-box">
                    <!-- Video player wrapper -->
                    <a href="{% url 'detail' post.pk %}">
                    <div class="image-wrap entry">
                        <video autoplay muted playsinline loop width="100%" height="40%"  controls>
                            <source src="{{ post.deus_manus_video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div><!-- end image-wrap -->
                    </a>
                    <div class="blog-desc">
                        <h4><a href="{% url 'detail' post.pk %}">{{post.deus_magnus_title|truncatechars:30}}</a></h4>
                        <p>{{post.deus_magnus_description|truncatechars:81}}</p>
                    </div><!-- end blog-desc -->
                    <div class="post-meta">
                        <span>
                            <div class="btn-wrapper">
                                <a href="{% url 'detail' post.pk %}" class="btn btn-primary"style="border-radius: 10px;">Read More</a>
                            </div>
                         </span>
                    </div><!-- end post-meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->
            {%endfor%}
        </div><!-- end row -->
    </div><!-- end container -->
</section>


<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message text-center">
                <h3>We have brought together the best quality services, offers, projects for you!</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->


    
<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>More News & Views</h3>
            <p>Providing engineering services to assist the builder.</p>
        </div><!-- end title -->
        <div class="row">
            {% for second_construction in second_constructions %}
            <div class="col-lg-4 col-md-12">
                <div class="blog-box">
                    <div class="image-wrap entry">
                        {% if second_construction.second_deus_magnus_img %}
                        <a href="{% url 'second_detail' second_construction.pk %}">
                        <img src="{{ second_construction.second_deus_magnus_img.url }}"height="230px"  class="custom-image">
                        </a>
                        {% endif %}
                       
                    </div><!-- end image-wrap -->
                    <div class="blog-desc">
                        <h4><a href="{% url 'second_detail' second_construction.pk %}">{{ second_construction.second_deus_magnus_title |truncatechars:30}}</a></h4>
                        <p>{{ second_construction.second_deus_magnus_description |truncatechars:80}}</p>
                    </div><!-- end blog-des -->
                    <div class="post-meta">
                            <div class="btn-wrapper">
                                <a href="{% url 'second_detail' second_construction.pk %}
                                "class="btn btn-primary"style="border-radius: 10px;">Read More</a>
                            </div>
                    </div><!-- end post-meta -->
                </div><!-- end blog -->
            </div><!-- end col -->
            {%endfor%}
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/banner.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-121">
                <div class="tagline-message event-title text-center">
                    <h3></h3>
                    <a><b><p>Contact</p></b></a>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section db">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">120</h4>
                    <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Bulding construction</h3>
                    <p>construction. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">120</h4>
                    <h3><i class="flaticon-online-course"></i> properties </h3>
                    <p>Our construction properties. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">121</h4>
                    <h3><i class="flaticon-coffee-cup"></i> Construction</h3>
                    <p>construction. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>



<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Recent News</h3>
            <p>Realizing Long-Term Value of Quality Used Equipment.</p>
        </div><!-- end title -->
        <div class="row">
            {% for last_construction in last_constructions %}
            <div class="col-lg-4 col-md-12">
                <div class="blog-box">
                    <div class="image-wrap entry">
                        {% if last_construction.last_deus_magnus_image %}
                        <a href="{% url 'last_detail' last_construction.pk %}">
                            <img src="{{ last_construction.last_deus_magnus_image.url }}"height="230px"  class="custom-image"><br><br>
                        </a>
                        {% endif %}
                    </div><!-- end image-wrap -->
                    <div class="blog-desc">
                        <h4><a href="{% url 'last_detail' last_construction.pk %}">{{ last_construction.last_deus_magnus_title |truncatechars:30}}</a></h4>
                        <p> {{ last_construction.last_deus_magnus_description |truncatechars:70}}</p>
                    </div><!-- end blog-desc -->
                    <div class="post-meta">
                        <div class="btn-wrapper">
                            <a href="#">{{ last_construction.last_deus_magnus_publish_date }}</a>
                            <a href="{% url 'last_detail' last_construction.pk %}" class="btn btn-primary" style="border-radius: 10px;">Read More</a>
                        </div>
                    </div><!-- end post-meta -->
                </div><!-- end blog -->
                <br>
            </div><!-- end col -->
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</section>


<section class="section bgcolor1">
    <div class="container">
        <a href="#">
        <div class="row callout">
            <div class="col-md-4 text-center">
                <h3><sup>$</sup>49.99</h3>
                <h4>Start your awesome construction today!</h4>
            </div><!-- end col -->

            <div class="col-md-8">
                <p class="lead">database directory as well. </p>
            </div>
        </div><!-- end row -->
        </a>
    </div><!-- end container -->  
</section>

        {% endblock %}