{% extends "base.html" %}
{% load static %}
{% block title %}{{ last_construction.last_deus_magnus_title }}{% endblock %}
{% block content %}
        
<br><br><br>

<section class="section">
    <div class="container">
        <div class=" ">
            <div class="row">
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-wrap entry">
                                {% if last_construction.last_deus_magnus_image %}
                                <img src="{{ last_construction.last_deus_magnus_image.url }}" style="border-radius:5px;" alt="" class="img-responsive">
                                {% endif %}
                            </div><!-- end image-wrap -->
                        </div>
                    </div><!-- end row -->
                        <hr class="invis">
                        <div class="row">
                    </div><!-- end row -->
                </div><!-- end col -->
                <div class="col-md-6">
                    <div class="shop-desc">
                        <h3 style="color: #98681e;">{{ last_construction.last_deus_magnus_title }}</h3>
                        <p>{{ last_construction.last_deus_magnus_description }}</p>
                                <li>{{ last_construction.last_deus_magnus_publish_date }}</li>
                                <li>Posted by: {{ last_construction.last_deus_magnus_author }}</li>
                            </ul><br>
                            <div class="btn-wrapper">
                                <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"> Back </a>
                            </div>
                        </div><!-- end shop meta -->
                    </div><!-- end desc -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis">
            <div class="related-products">
                <div class="text-widget">
                    <h3 style="color: #98681e;">Related Products</h3>
                </div><!-- end title -->        
                <div class="row blog-grid shop-grid">
                    {% for sub_2 in subs_2 %}
                    <div class="col-md-3">
                        <div class="course-box shop-wrapper">
                            <a href="{% url 'sub_detail_video' pk=sub_2.pk %}">
                            <div class="image-wrap entry">
                                <video autoplay muted playsinline loop width="100%" height="40%"  controls>
                                    <source src="{{ sub_2.sub_video_2.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </a>
                            </div>
                        <!-- end image-wrap -->
                            <div class="course-details shop-box text-center">
                                <h4>
                                    <a href="{% url 'sub_detail_video' pk=sub_2.pk %}">{{ sub_2.sub_title_2|truncatechars:26 }}</a>
                                    <small><p>{{ sub_2.sub_description_2|truncatechars:37 }}</p></small>
                                    <a href="{% url 'sub_detail_video' pk=sub_2.pk %}" class="btn btn-primary"style="border-radius:7px;">View More </a>
                                </h4>
                            </div><!-- end details -->
                        </div>                  
                </div><!-- end row -->
                {% endfor %}
                    </div><!-- end related -->
                </div><!-- end boxed -->

    <hr class="invis">
    <div class="row">   
        <div class="col-md-12">
            <div class="shop-extra">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
                    <li><a data-toggle="tab" href="#menu2">Reviews</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <p>{{ last_construction.last_deus_magnus_description }}</p>
                        <div class="btn-wrapper">
                            <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"> Back </a>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Reviews</h3>
                        <p>Your email address will not be published. Required fields are marked *</p>
                        <div class="rating">
                            <p>Your Rating</p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>

                        <hr class="invis">
                    
                        <form class="big-contact-form row" role="search">
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Your reviews.."></textarea>
                            </div>              
                            <div class="col-md-6">   
                                <input type="text" class="form-control" placeholder="Enter your name..">
                            </div>     
                            <div class="col-md-6">   
                                <input type="email" class="form-control" placeholder="Enter email..">
                            </div>             
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>              
                        </form>
                    </div>
                </div>
            </div><!-- end shop-extra -->
        </div><!-- end col -->
    </div><!-- end row -->

</div><!-- end boxed -->
</div><!-- end container -->
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

{% endblock %}
