{% extends "base.html" %}
{% load static %}
{% block title %} Mission Vision & Strateges {% endblock %}
{% block content %}
        


<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/m_v_s.jpg" %});"height="20%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3>Mission Vision Strategy</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>Our History</h3>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">
            <div class="row blog-grid">
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>OUR MISSION</center></h4>
                            <p>We are a committed Construction Company with a penchant for excellent service delivery,
                               while holding on to our reputation with passion for integrity, and professionalism. 
                               To provide professional services that exceed client’s expectations with high returns on 
                               investment for our stakeholders</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>OUR VISION</center></h4>
                            <p>To be known as the leading Real Estate Company rendering 
                                excellent services across the country and beyond.
                                To be the preferred engineering, property development, 
                                and project management company committed to delivering quality, timely and cost-effective services</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>Our Core Value</center></h4>
                            <p>To provide a conducive environment for our staff to develop and improve in their careers, 
                               so that they can render excellent services to our clients.Efficacy Construction Company is 
                               committed to achieving full customers satisfaction by understanding their requirements and providing 
                               on-time development of projects and products at the right price </p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>



{% endblock %}
 
