{% extends "base.html" %}
{% load static %}
{% block title %} Vision, Mission, Approach {% endblock %}
{% block content %}
        


<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/m_v_s.jpg" %});"height="20%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3> Vision Mission Core Value</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h1>Our History</h1>
                    <ul class="breadcrumb">
                        <li><a style="border-radius: 5px;font-family: Georgia;" href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">
            <div class="row blog-grid">
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>OUR VISION</center></h4>
                            <p>To emerge as the leading construction and real estate service provider in Africa and globally, 
                                accomplished through the delivery of internationally acclaimed structures.</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>OUR MISSION</center></h4>
                            <p>To revolutionize the Nigerian real estate landscape by delivering unparalleled 
                               quality through cutting-edge innovation, superior quality, and unwavering commitment to sustainability.</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center>Our Core Value</center></h4>
                            <p>To provide a conducive environment for our staff to develop and improve in their careers, 
                               so that they can render excellent services to our visitors.
                             </p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->


{% endblock %}
 
