{% extends "base.html" %}
{% load static %}
{% block title %} Our Team  {% endblock %}
{% block content %}

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br><br>
                <div class="tagline-message page-title text-center">
                    <h1 style="color:fff;font-family: Georgia;font-size:50px;">Our Management Team</h1>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->


<section class="section">
    <div class="container">
        <div class="section-title text-center">
            <h3 style="color: #98681e;font-family: Georgia;">We are proudly certified</h3>
             <p>Experienced professionals with expertise in construction, 
                real estate, facility management, and business development..</p>
        </div><!-- end title -->

<div class="row text-center">
    {% for post in object_list %}
    <div class="col-md-4 col-sm-6">
        <div class="teammembers">
            <a href="{% url 'our_management_team_article' post.pk %}">
            <div class="entry">
                <img src="{{ post.our_team_img.url }}"style="height: 310px;border-radius: 5px;" alt="" class="img-responsive">
            </div><!-- end box -->
            </a>
            <div class="teamdesc">
                <h4><a href="{% url 'our_management_team_article' post.pk %}">{{ post.our_team_name }}</a></h4>
                <hr>
                <h5 style="color: #98681e;">{{ post.our_team_position }}</h5>
                <!--<p>{{ post.our_team_description|truncatechars:77}}</p> -->
            </div><!-- end teamdesc -->
        </div><!-- end teammembers -->
        <br>
    </div><!-- end col --> 
    
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

{% endblock %}