{% extends "base.html" %}
{% load static %}
{% block title %} Our Team  {% endblock %}
{% block content %}

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/banner.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <p>Deus Magnus Board of Director</p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="row event-boxes">
            <div class="col-md-4">
                <div class="box m30">
                    <img src="" alt="" class="img-responsive">
                    <div class="event-desc">
                    <small>The S</small>
                    <h4>Gathering & welcome speech</h4>
                    <p>Deus Magnus Boar.</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="box m30">
                    <img src="" alt="" class="img-responsive">
                    <div class="event-desc">
                    <small>The G</small>
                    <h4>Successful Marketing Strategy</h4>
                    <p>Deus Magnus Board of Director.</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="box m30">
                    <img src="" alt="" class="img-responsive">
                    <div class="event-desc">
                    <small>The R</small>
                    <h4>Awarde distribution</h4>
                    <p> Deus Magnus Board of Director.</p>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>







<section class="section">
    <div class="container">
        <div class="section-title text-center">
            <h3>Meet Our Speakers</h3>
            <p>Dues Magnus Board of Director.</p>
        </div><!-- end title -->

        <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <div class="teammembers">
                    <div class="entry">
                        <img src="upload/01_team.png" alt="" class="img-responsive">
                        <div class="magnifier">
                            <div class="visible-buttons1 teambuttons">
                                <p>We’re committed to work and play our client meeting room transforms  into a table tennis</p>
                                <div class="social-links">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </div><!-- end social -->
                            </div>
                        </div>
                    </div><!-- end box -->
                    <div class="teamdesc">
                        <h4>Ruben Franklin</h4>
                        <hr>
                        <h6>Director</h6>
                        <p>Web Design Builder & Seo Specialist</p>
                    </div><!-- end teamdesc -->
                </div><!-- end teammembers -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>




{% endblock %}