{% extends "base.html" %}
{% load static %}
{% block title %} Our Team  {% endblock %}
{% block content %}

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/banner.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3>Our Management</h3>
                    <p>Deus Magnus Management</p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->


<section class="section">
    <div class="container">
        <div class="section-title text-center">
            <h3>We are proudly certified</h3>
             <p>Deus Magnus Managements.</p>
        </div><!-- end title -->

        <div class="row text-center">
            {% for post in object_list %}
            <div class="col-md-4 col-sm-6">
                <div class="teammembers">
                    <a href="{% url 'our_management_team_article' post.pk %}">
                    <div class="entry">
                        <img src="{{ post.our_team_img.url }}" alt="" class="img-responsive">
                    </div><!-- end box -->
                    </a>
                    <div class="teamdesc">
                        <h4><a href="{% url 'our_management_team_article' post.pk %}">{{ post.our_team_name }}</a></h4>
                        <hr>
                        <h6>{{ post.our_team_position }}</h6>
                        <p>{{ post.our_team_description }}</p>
                    </div><!-- end teamdesc -->
                </div><!-- end teammembers -->
                <br>
            </div><!-- end col --> 
            
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</section>


{% endblock %}