{% extends "base.html" %}
{% load static %}
{% block title %} Project Management {% endblock %}
{% block content %}

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br><br>
                <div class="tagline-message page-title text-center">
                    <h1>Project Management</h1>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            {% for post in object_list %}
            <div class="custom-module">
                <img style="border-radius: 5px;"src="{{ post.deus_magnus_project_p.url }}" alt="" class="img-responsive wow slideInLeft">
            </div><!-- end module -->
            {% endfor %}>
            </div><!-- end col -->
            <div class="col-md-8">  
                <div class="custom-module p40l">
                   
                    <h3 style="color: #98681e;font-family: Georgia;">Leverage our expertise in real estate market analysis, investment strategy, 
                        and property management to maximize your real estate portfolio's potential </h3><br>
                    <div class="row">
                        <div class="col-lg-8 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>End-to-end project oversight</li>
                                <li>Risk management and mitigation</li>
                                <li>Resource allocation and optimization</li>
                                <li>Schedule management and timeline adherence</li>
                                <li>Budget control and cost optimization</li>
                                <li>Stakeholder communication and reporting</li>
                                <li>Quality assurance and control</li>
                                <li>Change management</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->   
                    <hr class="invis">
                    <div class="btn-wrapper">
                        <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"> Back Page</a>
                    </div>
                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><br><br>

{% endblock %}