{% extends "base.html" %}
{% load static %}
{% block title %} Project Management {% endblock %}
{% block content %}

<section class="parallax event-section" data-stellar-background-ratio="0.5" style="background-image:url({% static "images/m_v_s.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3> Project Management</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
<section class="section">

<section class="section">
    <div class="container">
        <div class="row">
          <!-- This is for image -->
            <div class="col-md-8">  
                <div class="custom-module p40l">
                   
                    <p style="color: #98681e;">Leverage our expertise in real estate market analysis, investment strategy, 
                        and property management to maximize your real estate portfolio's potential </p><br>
                    <div class="row">
                        <div class="col-lg-8 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>End-to-end project oversight</li>
                                <li>Risk management and mitigation</li>
                                <li>Resource allocation and optimization</li>
                                <li>Schedule management and timeline adherence</li>
                                <li>Budget control and cost optimization</li>
                                <li>Stakeholder communication and reporting</li>
                                <li>Quality assurance and control</li>
                                <li>Change management</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->   
                    <hr class="invis">
                    <div class="btn-wrapper">
                        <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"><i class="fa fa-arrow-left"> Back Page</i></a>
                    </div>
                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><br><br>

{% endblock %}