{% extends "base.html" %}
{% load static %}
{% block title %} Real Estate Services {% endblock %}
{% block content %}

<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br><br>
                <div class="tagline-message page-title text-center">
                    <h1 style="color:fff;font-family: Georgia;font-size:50px;">Real Estate Services </h1>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
 
<section class="section">
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for post in object_list %}
                <div class="custom-module">
                    <img style="border-radius: 5px;"src="{{ post.deus_magnus_real_estate_p.url }}" alt="" class="img-responsive wow slideInLeft">
                </div><!-- end module -->
                {% endfor %}
            </div><!-- end col -->
            <div class="col-md-8">  
                <div class="custom-module p40l">
                    <h4 style="color: #98681e;">Crafting bespoke homes that redefine luxury living, Creating iconic office and commercial spaces and retail environments and 
                        Developing high-yield real estate assets for discerning investors</h4><br>
                    <div class="row">
                        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Property development (residential, commercial, industrial)</li>
                                <li>Property management (leasing, sales, marketing)</li>
                                <li>Real estate advisory services</li>
                                <li>Land acquisition</li>
                                <li>Feasibility and viability studies</li>
                                <li>Architecture and planning</li>
                                <li>Structural designing</li>
                                <li>Project management</li>
                                <li>Renovations</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->   
                  
                    <hr class="invis">
                    <div class="btn-wrapper">
                        <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 5px;font-family: Georgia;"> Back </a>
                    </div>
                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><br><br>

{% endblock %}