{% extends "base.html" %}
{% load static %}
{% block title %} Services Page  {% endblock %}
{% block content %}

<section class="parallax event-section" data-stellar-background-ratio="" style="background-image:url({% static "images/m_v_s.jpg" %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message event-title text-center">
                    <h3>Our Services</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% for post in object_list %}
                <div class="custom-module">
                    <img style="border-radius: 5px;"src="{{ post.deus_magnus_services_p.url }}" alt="" class="img-responsive wow slideInLeft">
                </div><!-- end module -->
                {% endfor %}
            </div><!-- end col -->
            <div class="col-md-8">  
                <div class="custom-module p40l">
                    <h3 style="color: #98681e;font-family: Georgia;">Comprehensive/Sustainable Building Solutions for Nigeria's Real Estate Challenges</h3>
                    <p>From tackling Nigeria's infrastructure deficit to optimizing long-term asset performance in prime locations like Victoria Island and Ikoyi, 
                        we are your trusted partner in navigating the complexities of the African real estate landscape.
                        Deus Magnus Limited offers end-to-end services in construction, real estate development, and facility management. Our expertise spans:
                    </p><br>
               
                    <a href="{% url 'construction_development' %}"><h3 style="color: #98681e;font-family: Georgia;">Construction Services</h3></a>
                    <div class="row">
                        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Building construction (residential, commercial, industrial)</li>
                                <li>Civil engineering (roads, bridges, water supply)</li>
                                <li>Renovation and Upgrades (Structural changes, major overhauls)</li>
                                <li>Industrial warehouse</li>
                                <li>Service apartments</li>
                                <li>Luxury apartments and homes</li>
                                <li>Student housing</li>
                                <li>Office spaces</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->

                    <a href="{% url 'real_estate_services' %}"><h3 style="color: #98681e;font-family: Georgia;">Real Estate Services</h3></a>
                    <div class="row">
                        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Property development (residential, commercial, industrial)</li>
                                <li>Property management (leasing, sales, marketing)</li>
                                <li>Real estate advisory sevices</li>
                                <li>Land acquisition</li>
                                <li>Feasibility and viability studies</li>
                                <li>Architecture and planning</li>
                                <li>Structural designing</li>
                                <li>Project management</li>
                                <li>Renovations</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->

                    <a href="{% url 'facility_management' %}"><h3 style="color: #98681e;font-family: Georgia;">Facility Management</h3></a>
                    <div class="row">
                        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>Property maintenance and repairs</li>
                                <li>Utilities management (energy, water, waste)</li>
                                <li>Facility operations</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->

                    <a href="{% url 'facility_management' %}"><h3 style="color: #98681e;font-family: Georgia;">Project Management</h3></a>
                    <div class="row">
                        <div class="col-lg-10 col-md-4 col-sm-4 col-xs-12 first">
                            <ul class="check">
                                <li>End-to-end project oversight</li>
                                <li>Risk management and mitigation</li>
                                <li>Resource allocation and optimization</li>
                                <li>Schedule management and timeline adherence</li>
                            </ul><!-- end check -->
                        </div><!-- end col-lg-4 -->    
                    </div><!-- end row -->
                    <hr class="invis">
                    <div class="btn-wrapper">
                        <a href="{% url 'about' %}" class="btn btn-primary" style="border-radius:5px;">About us</a>
                    </div>
                </div><!-- end module -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><br><br>

{% endblock %}