{% extends "base.html" %}
{% load static %}
{% block title %}{{ sub_picture.sub_title_1 }}{% endblock %}
{% block content %}
        
<br><br><br>
<section class="section">
    <div class="container">
        <div class=" ">
            <div class="row">
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-wrap entry">   
                                {% if sub_picture.sub_image_1 %}                     
                                <img src="{{ sub_picture.sub_image_1.url }}" alt="" class="img-responsive">
                                {% endif  %}
                            </div><!-- end image-wrap -->
                        </div>
                    </div><!-- end row -->
                        <hr class="invis">
                        <div class="row">
                    </div><!-- end row -->
                </div><!-- end col -->
               
            <div class="row">   
                <div class="col-md-12">
                    <div class="shop-extra">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>{{ sub_picture.sub_title_1|truncatechars:30 }}</h3>
                                <p>{{ sub_picture.sub_description_1 }}</p>             
                            </div>
                            <div class="btn-wrapper">
                                <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"><i class="fa fa-angle-left">Back</i></a>
                            </div>
                        </div>
                    </div><!-- end shop-extra -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

{% endblock %}
