{% extends "base.html" %}
{% load static %}
{% block title %}{{ sub_picture.sub_title_1 }}{% endblock %}
{% block content %}
        
<br><br><br>
<section class="section">
    <div class="container">
        <div class=" ">
            <div class="row">
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="image-wrap entry">   
                                {% if sub_picture.sub_image_1 %}                     
                                <img src="{{ sub_picture.sub_image_1.url }}" alt="" class="img-responsive">
                                {% endif  %}
                            </div><!-- end image-wrap -->
                        </div>
                    </div><!-- end row -->
                        <hr class="invis">
                        <div class="row">
                    </div><!-- end row -->
                </div><!-- end col -->
               
            <div class="row">   
                <div class="col-md-12">
                    <div class="shop-extra">
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>{{ sub_picture.sub_title_1 }}</h3>
                                <p>{{ sub_picture.sub_description_1 }}</p>             
                            </div>
                            <div class="btn-wrapper">
                                <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"><i class="fa fa-angle-left">Back</i></a>
                            </div>
                        </div>
                    </div><!-- end shop-extra -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>


{% endblock %}
