{% load static %}

{% for message in messages %}
<div id='lower-side'>
  <p id='message'>{{ message }}</p>
  {% endfor %}
  
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site Meta -->
    <title>{% block title %}Deus Magnus Limited{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}"height="50px" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 
    <!-- Libraries Stylesheet -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>  


    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
<!-- END # MODAL LOGIN -->
<header class="header">    
    <div class="container">
        <nav class="navbar navbar-default yamm">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <div class="logo-normal">
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png'%}"width="110" height="60" alt=""></a>
                    </div>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="dropdown hassubmenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us<span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-oggle" data-toggle="dropdown" role="button"aria-expanded="false">About Deus Magnus<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu"> 
                                    <li class="dropdown hassubmenu">
                                        <li><a href="{% url 'founder_message' %}"style="color: #fff;">Message From Founder</a></li>
                                        <li><a href="{% url 'services'%}"style="color: #fff;">Our Services</a></li>
                                        <li><a href="{% url 'mission_vision_strategy' %}"style="color: #fff;">Our Vision || Our Mission || Our Core Value</a></li>     
                                </ul>       
                            </li> 
                            <li><a href="{% url 'about' %}">Who We Are</a></li> 
                            <li><a href="{% url 'our_management_team' %}">Our Management Team</a></li> 
                            <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Member Companies<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="https://www.josepdam.com/"target="_blank"style="color: #fff;">JosepDam Real Estate</a></li>
                                    <li><a href="https://www.jps.ng/"target="_blank"style="color: #fff;">JosepDam Port Service</a></li>
                                </ul>
                            </li>  
                        </ul>
                    </li> 
                    <li class="dropdown hassubmenu">
                        <a href="#" class="dropdown-oggle" data-toggle="dropdown" role="button"aria-expanded="false">Our Services<span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-oggle" data-toggle="dropdown" role="button"aria-expanded="false">Real Estate Development<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu"> 
                                    <li class="dropdown hassubmenu">
                                        <li><a href=""style="color: #fff;">1. Residential </a></li>
                                        <li><a href=""style="color: #fff;">2. Commercial </a></li>
                                        <li><a href=""style="color: #fff;">3. Investment Properties </a></li>  
                                        <li><a href=""style="color: #fff;">4. IndustriaL Properties </a></li>    
                                </ul>       
                            </li> 
                            <li class="dropdown hassubmenu">
                                <li><a href="{% url 'services'%}"style="color: #fff;">Our Services</a></li>
                                <li><a href="{% url 'real_estate_services'%}"> Real Estate Services</a></li>
                                <li><a href="{% url 'facility_management' %}">Facility Management</a></li>
                                <li><a href="{% url 'project_management'%}">Project Management</a></li>
                                <li><a href="{% url 'construction_development' %}">Construction Services</a></li>
                            </li>        
                        </ul>       
                    </li>         
                   
                    <li class="dropdown hassubmenu">
                        <a href="#" class="dropdown-oggle" data-toggle="dropdown" role="button"aria-expanded="false">Media<span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'deus_magnus_event' %}">News and Events</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                        </ul>
                    </li>
                    <li class="dropdown hassubmenu">
                        <a href="#" class="dropdown-oggle" data-toggle="dropdown" role="button"aria-expanded="false">Resources<span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'faqs_items'%}">FAQs</a></li>
                            <li><a href="{% url 'guides' %}">Guides</a></li>
                            <li><a href="{% url 'glossary_items' %}">Glossary</a></li>
                        </ul>
                    </li>       
                    <li><a href="{% url 'contact' %}">Contact</a></li>            
                </ul>
            </div>  
        </nav><!-- end navbar -->
    </div><!-- end container -->
</header>


        {% block content %}


        {% endblock  %}


<footer class="section footer noover">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Popular Tags</h3>
                <div class="authorbox-social">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                    </ul><!-- end list -->
                </div><!-- end share -->
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-3 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Join us today</h3>
                <a href="{% url 'contact' %}"><p>Would you like to earn your profits by joining our team?</p></a>
                <a href="https://www.josepdam.com/" target="_blank" class="readmore"style="color: #d4af37;">JosepDam Real Estate</a><br> 
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-2 col-md-2">
        <div class="widget clearfix">
            <h3 class="widget-title">About Us</h3>
            <div class="list-widget">   
                <ul>
                    <li><a href="{% url 'founder_message' %}">Message from Founder</a></li>
                    <li><a href="{% url 'blog' %}">Blog Project</a></li>
                    <li><a href="{% url 'deus_magnus_event' %}">Even Project</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div><!-- end list-widget i-->
        </div><!-- end widget -->
    </div><!-- end col -->

        <div class="col-lg-2 col-md-2">
            <div class="widget clearfix">
                <h3 class="widget-title">Support link</h3>
                <div class="list-widget">   
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Deus Magnus</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'mission_vision_strategy' %}">M & V & C</a></li>
                    </ul>
                </div><!-- end list-widget -->
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-2 col-md-2">
            <div class="widget clearfix">
                <h3 class="widget-title">Contact Us</h3>
                <div class="list-widget">   
                    <ul>
                        <li><a href="https://maps.app.goo.gl/uNNsbrMFuA9V3HN36"target="_blank">Lagos Head Office Plot 19, Fatai Atere Way, Mushin,</a></li>
                        <li><a href="https://wa.me/+2348106941149?text=Hi Deus Magnus Limited?"target="_blank">Whatsapp Us</a></li>
                    </ul>
                </div><!-- end list-widget -->
            </div><!-- end widget -->
        </div><!-- end col -->

    </div><!-- end row -->
</div><!-- end container -->
</footer><!-- end footer -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b25f401601a2195ba175fc/1i4kc85n1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

<div class="copyrights">
    <div class="container">
        <div class="clearfix">
            <div class="pull-right">
                <div class="footer-links">
                    <ul class="list-inline">
                        <li>Copyright © 2024 - Dues Magnus Ltd. All Right Reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copy -->
</div><!-- end wrapper -->



<!-- jQuery Files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<!-- VIDEO BG PLUGINS -->
<script src="{% static 'js/videobg.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    

</body>
</html>